
# dependencies
/node_modules

# testing
/coverage

# production
/build

webpack.*.hot-update.js

.next/static/webpack/*.webpack.hot-update.json
.next/static/webpack/*.webpack.hot-update.js
.next/static/webpack/app/page.*.hot-update.js
.next/static/webpack/*.webpack.hot-update.json
.next/static/webpack/*.webpack.hot-update.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*